
header {
    padding: 20px 0;
    background: #BBBBBB;
    
}
.caixa-index {
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 110px;
    right: 0;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;

}
nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover {
    color: orange;
    text-decoration: underline;
}
.titulo-centralizado {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.principal {
    background-color: rgb(190, 190, 190);
    box-sizing: border-box;
    padding: 20px;
    font: 20px "Arial";
    margin-top: 15px;
}
.info {
    text-align: center;
    font-size: 22px
}
.info em strong {
    font-style: italic;
    color: orange;
    font-weight: bold;
}
.info strong {
    font-weight: bold;
}
.beneficios {
    font: 25px "Arial";
    display: block;
    background-color: #BBBBBB;
    padding-left: 100px;
    
}
.itens {
    font-weight: bold;
    padding-left: 35px;
    padding-top: 50px;
    list-style: disc;
}
.imagembeneficios {
    width: 40%;
    height: 40%;
    display: inline;
    position: relative;
    left: 980px;
    bottom: 300px;
}
#banner {
    position: relative;
    left: 525px
}
footer {
    text-align: center;
    background: url("imagens/bg.jpg");
    padding: 40px 0;
}
.copyright {
    color: white;
    font-size: 13px;
    margin-top: 10px;
}